<h1>Enter your recipe here</h1>
<form action="/recipes" method="post">
    <p>Name: <input type="text" name="name" id="name"><br>
    Ingredients: <input type="text" name="ingredients" id="ingredients"><br>
    Cook Time: <input type="text" name="cook_time" id="cook_time"></p>
    <input type="submit" id="submit" value="Submit">
</form>