<form method="POST" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Recipe Name: <input type="text" name="name"><%= @recipe.name %></p>
  <p>Ingredients: <input type="text" name="ingredients"><%= @recipe.ingredients %></p>
  <p>Cook Time: <input type="text" name="cook_time"><%= @recipe.cook_time %></p>
  <input type="submit" value="submit">
</form>