<h2>Edit Recipe</h2>
<form action="/recipes/<%=@recipes.id%>" method="POST">
<input type="hidden" name="_method" value="PATCH">
Name:<input id="title" type="text" name="name" value="<%=@recipes.name%>">
Ingredients:<input type="text" id="ingredients" name="ingredients" value="<%=@recipes.ingredients%>">
Cook Time:<input type="text" id="cook_time" name="cook_time" value="<%=@recipes.cook_time%>">
<input type="submit" value="Update Recipe">
</form>