<form action="/recipes/<%= @recipe.id %>" method="POST">
	<p>Ingredients: <%= @recipe.ingredients %></p>
	<p>Cook Time: <%= @recipe.cook_time %></p>
	<p>New Name: <input type="text" name="name"></p>
	<p>New Ingrediens: <input type="text" name="ingredients"></p>
	<p>New Cooking time: <input type="text" name="cook_time"></p>

	<input id="hidden" type="hidden" name="_method" value="PATCH">
	<input type="submit" value="delete">
	<input type="text" value="Submit">
</form>