<!DOCTYPE html>

<html lang='en'>
<head>
  <meta charset="utf-8">

  <title>Edit Recipe</title>
  <meta name="description" content="Edit Recipe">
</head>

<body>
  <div class="edit">
    <h1>Enter your edits:</h1>
    <form action="/recipes/<%=@recipe.id%>" method="post">
      <input type="hidden" id="hidden" name="_method" value="PATCH">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" value="<% @recipe.name%>"><br>
      <label for="ingredients">Ingredients: </label>
      <input type="text" id="ingredients" name="ingredients" value="<% @recipe.ingredients%>"><br>
      <label for="cook_time">Cook Time: </label>
      <input type="text" id="cook_time" name="cook_time" value="<% @recipe.cook_time%>">
      <input type="submit" value="submit">
    </form>
  </div>
  <div class="existing">
  <h1>Existing Recipe:</h1>
  <h2>Name: <%= @recipe.name%></h2>
  <h3>Ingredients: <%= @recipe.ingredients%></h3>
  <h3>Cook Time: <%= @recipe.cook_time%></h3>
</div>
</body>
</html>
