<!DOCTYPE html>
<html>
    <head>
        <title>NEW RECIPE</title>
    </head>
    <body>
        <h1> NEW RECIPE!</h1>
            <form action="/recipes/<%=@recipe.id%>"" method="post">
            <input type="hidden" id="hidden" name="_method" value="patch">
            Recipe Name: <input type="text" name="name" id="name" value="<%=@recipe.name%>%">
            Recipe Ingredients <input type="text" name="ingredients" id="ingredients" value="<%=@recipe.ingredients%>%">
            REcipe Cook Time <input type="text" name="cook_time" id="cook_time" value="<%=@recipe.cook_time%>%">
            <input type="submit" name="submit">
            </form>
    </body>
</html>