<%= @recipe.name %>
<%= @recipe.ingredients %>
<%= @recipe.cook_time %>
<form action='/recipes/<%= @recipe.id %>' method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for='name'>name: </label>
  <input type="text" id="name" name='name'>
  <label for='ingredients'>ingredients: </label>
  <input type="text" id="ingredients" name='ingredients'>
  <label for='cook_time'>cook_time: </label>
  <input type="text" id="cook_time" name='cook_time'>
  <input type='submit' name='submit' id='submit' value='UPDATE'>
</form>
