<p><%= @recipe.name %></p>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.cook_time %> minutes</p>

<form action="/recipes/<%= @recipe.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="name">Name: </label>
    <input type="text" name="name">
    <label for="ingredients">Ingredients: </label>
    <input type="text" name="ingredients">
    <label for="cook_time">Cook Time (in minutes): </label>
    <input type="text" name="cook_time">
    <button type="submit">Submit</button>
</form>