<!DOCTYPE html>
<html>
  <head>
    <title>RESTful Recipes lab</title>
  </head>

  <body>

    <h2>Current Ingredients: <%= @recipe.ingredients %></h2><br><br><br>
    <form action="/recipes/<%= @recipe.id %>" method="POST">
      <input type="hidden" id="hidden" name="_method" value="PATCH">
      <label for="name">Recipe Name:</label>
      <input name="name" id="name" type="text"><br><br>
      <label for="ingredients">Ingredients:</label>
      <input name="ingredients" id="ingredients" type="text"><br><br>
      <label for="cook_time">Time to Cook:</label>
      <input name="cook_time" id="cook_time" type="text"><br><br>
      <input type="submit" id="submit" value="Submit">
    </form>
  </body>
</html>