<h1>Edit Your Recipe</h1>
<form action="/recipes/<%= @recipe.id %>" method="POST">
    <label for="name">Recipe Name:</label>
    <input type="text" name="name" id="name" placeholder="<%= @recipe.name %>"><br><br>

    <label for="ingredients">Ingredients:</label>
    <input type="text" name="ingredients" id="ingredients" placeholder="<%= @recipe.ingredients %>"><br><br>

    <label for="cook_time">Cook Time:</label>
    <input type="text" name="cook_time" id="cook_time" placeholder="<%= @recipe.cook_time %>"><br><br>


    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <input type="submit" value="Submit Your Edit">
</form>