<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Recipe Time</title>
  </head>

  <body>
    <h1>Edit Your Recipe</h1>

    <form action="/recipes/<%= @recipe.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      Recipe Name: <input id="name" type="text" name="name" value="<%= @recipe.name %>">
      Ingredients: <input id="ingredients" type="text" name="ingredients" value="<%= @recipe.ingredients %>">
      Cooking Time: <input id="cook_time" type="text" name="cook_time" value="<%= @recipe.cook_time %>">
      <input type="submit" value="Submit"/>
    </form>

  </body>
</html>
