<h1>Edit Recipe</h1>

<h2>Current Recipe</h2>
<p><%= @recipe.name %></p>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.cook_time %></p>


<h2>Update Recipe</h2>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Recipe name: <input type="text" name="name"></p>
  <p>Recipe ingredients: <input type="text" name="ingredients"></p>
  <p>Recipe cook time: <input type="text" name="cook_time"></p>
  
  <input type="submit" value="submit">
</form>