<h1>Edit: <%= @recipe.name %></h1>
<h2>Cook Time: <%= @recipe.cook_time %></h2>
<p>Ingredients: <%= @recipe.ingredients %></p>

<h2>Please submit your changes here:</h2>
<form method="post" action="/recipes/<%= @recipe.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="name" placeholder="Recipe Name"><br>
    <input type="text" name="ingredients" placeholder="Ingredients"><br>
    <input type="text" name="cook_time" placeholder="Cook Time"><br>
    <input type="submit" value="Submit">
</form>
