<% @recipes.each do |recipe| %>
  <div class="recipes">
    <h2>Recipe Name: <%= recipe.name %></h2>
    <p>Recipe Ingredients: <%= recipe.ingredients %></p>
    <p>Recipe Cook Time: <%= recipe.cook_time %></p>
  </div><br>
<% end %>
