<!doctype html>
<html>
  <head>
    <title>Sinatra RESTful Routes</title>
  </head>
  <body>
    <ul>
        <% @recipes.each do |recipe|%>
        <li>
            <h3>Name: <%= recipe.name %></h3>
            <h3>Ingredients: <%= recipe.ingredients %></h3>
            <h3>Cook time <%= recipe.cook_time %></h3>
        </li>
        <% end %>
    </ul>
  </body>
</html>