<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All the Recipes</title>
  </head>
  <body>
    <h1>All Recipes</h1>
    <ul>
    <% Recipe.all.each do |recipe| %>
      <li><a href="/recipes/<%= recipe.id %>"<%= recipe.name %></a></li>
    <% end %>
    </ul>
  </body>
</html>
