<h1>RECIPES</h1>
<ul>
<%@recipes.each do |recipe|%>
  <li><%=recipe.name%>
    <ul>
      <li>Ingredients: <%=recipe.ingredients%></li>
      <li>Cook Time: <%=recipe.cook_time%></li>
      <li><a href="/recipes/<%= recipe.id %>">Details</a></li>
    </ul>
  </li>
<%end%>
