<!DOCTYPE html>
<html>
  <title>Homepage</title>
  <body>
    <% @recipes.each do |recipe|%>
    <% link = "/recipes/#{recipe.id}" %>
    <p><a href="<%= link %>"><%= recipe.name %></a></p>
    <% end %>
  </body>
</html>