<form action="/recipes" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="name">
  <label for="ingredients">ingredients</label>
  <input type="text" name="ingredients" id="ingredients">
  <label for="cook_time">cook time</label>
  <input type="number" name="cook_time" id="cook_time">
  <button type="submit">new recipe</button>
</form>
