<form action="/recipes" method="post">
  
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="ingredients" name="ingredients">
  <input type="text" placeholder="cook time" name="cook_time">

  <input type="submit" value="submit">

</form>