<form action="/recipes" method="POST">
  <label for="recipe_name">Recipe Name:</label>
  <input id="recipe_name" type="text" name="name" value="">
  
  <label for="recipe_ingredients">Recipe Ingredients:</label>
  <input id="recipe_ingredients" type="text" name="ingredients" value="">
  
  <label for="recipe_cook_time">Recipe Cook Time:</label>
  <input id="recipe_cook_time" type="text" name="cook_time" value="">
  
  <input type="submit">
</form>