<form action="/recipes" method="POST">
  Recipe Name: <input type="text" required="true" name="name"/><br>
  Ingredients: <input type="text" required="true" name="ingredients"/><br>
  Cook Time: <input type="text" name="cook_time"/>
  <input type="submit" value="Submit"/>
</form>
