<h2>Enter Your Recipe Here</h2>
<form method = "post" action "/new">
  <p>Recipe: <input type = "text" name = "name"></p>
  <p>Ingredient: <input type = "text" name = "in"></p>
  <p>Cook Time: <input type = "text" name = "cookTime"></p>
  <input type = "submit" name = "submit">
</form>