<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My recipes - Create</title>
</head>

<body>
  <form method="POST" action="/recipes">
    <label for="name">Name</label>
    <input id="name" type="text" name="name"/>
    <label for="ingredients">Ingredients</label>
    <input id="ingredients" type="text" name="ingredients"/>
    <label for="cook_time">Cooking time</label>
    <input id="cook_time" type="text" name="cook_time"/>
    <input id="submit" type="submit" name="submit"/>
  </form>
</body>

</html>