<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Create a New Recipe</h1>
    <form method="post" action="/recipes">
      <p>Name: <input type="text" name="name"></p>
      <p>Ingredients: <input type="text" name="ingredients"></p>
      <p>Cooking Time (minutes): <input type="text" name="cook_time"></p>
      <input type="submit" value="Create">
    </form>
  </body>
</html>
