  
<h3>Add A New Recipe</h3>
<form action="/recipes" method="post">
    Recipe Name:<input type="text" id="name" name="name"><br>
    Ingredients:<input type="text" id="ingredients" name="ingredients"><br>
    Cook Time:<input type="text" id="cook_time" name="cook_time"><br>
    <input type="submit" value="Submit">
</form>