<form action="/recipes" method="post">
  <h2>Name: <input type="text", name="name", id="name"></h2><br>
  <p>Ingredients:<input type="text", name="ingredients", id="ingredients"></p>
  <p>Cook Time:<input type="text", name="cook_time", id="cook_time"></p>
  <input type="submit", value="Submit" id="submit>"
</form>
