<h1>Create Your Recipe</h1>
<form action="/recipes" method="POST">
    <label for="name">Recipe Name:</label>
    <input type="text" name="name" id="name" placeholder="e.g. Tuna Casserole"><br><br>

    <label for="ingredients">Ingredients:</label>
    <input type="text" name="ingredients" id="ingredients" placeholder="e.g. tuna, cheese, etc."><br><br>

    <label for="cook_time">Cook Time:</label>
    <input type="text" name="cook_time" id="cook_time" placeholder="e.g. 45 minutes"><br><br>

    <input type="submit" value="Submit">
</form>