<h1>Post a New Recipe:</h1>
<form method='POST' action='/recipes'>
	<h3>Recipe Name: </h3><input type='text' name='name'>
  <h3>Recipe Ingredients: </h3><input type='text' name='ingredients'>
	<h3>Recipe Cook Time: </h3><input type='text' name='cook_time'>
  <input type='submit' value='Submit'>
</form>
