<h1> Lets Save That Recipe </h1>
<form action = '/recipe'method = Post >
 <label for= "name"><strong>Recipe Name:</strong></label>
 <input type="text" id="name" name="name" value= "Recipe Name"><br><br>
 <label for="ingredients"><strong>Ingredients:</strong><label>
 <input type="text" id='ingredients' name='ingredients' value='list of ingredients'><br><br>
  <label for="cook_time"><strong>Cook Time:</strong><label>
 <input type="text" id='cook_time' name='cook_time' value='For best results cook for'><br><br>
 <input type='submit' Value ='Save your recipe'>
</form>