<form method ="post" action ="/recipes">
  <p>Name: <input type ="text" name ="name"></p>
  <p>Ingredients: <textarea type ="text" name ="ingredients"></textarea></p>
  <p>Cook Time: <input type ="text" name ="cook_time"></p>
  <input type ="submit" value ="Submit">
</form>