<h1>Create a New Recipe</h1>

<form method="POST" action="/recipes">
  <h2>Name of Recipe: <input type="text" name="name"></h2>
  <h2>Ingredients: <input type="text" name="ingredients"></h2>
  <h2>Cook Time: <input type="text" name="cook_time"></h2>
  
  <input type="submit" value="submit">
</form>
