<form action="/recipes" method="POST">
<h1>Save a new recipe</h1>
<label for="title">recipe name:</label>
<input type="text" id="name" name="name">
<br>
<label for="content">ingredients:</label>
<input type="text" id="ingredients" name="ingredients">
<br>

<label for="content">cook_time:</label>
<input type="text" id="cook_time" name="cook_time">
<br>

<input type="submit" id="submit" value="Submit">
</form>