<form action="/recipes" method="POST">
  <input type="text" name="name" placeholder="Name:">
  <input type="password" name="ingredients" placeholder="Ingredient:">
  <input type="password" name="cook_time" placeholder="Cook Time:">
  <input type="submit" value="Submit">
</form>