<!DOCTYPE html>
<html>
  <head>
    <title>New recipe</title>
  </head>

  <body>
    <form method="POST" action="/recipes">
      <h1>Create a new recipe</h1>
      <p><label for="name">Name:</label>
      <input type="text" id="name" name="name" /></p>
      <br>
      <p><label for="ingredients">Ingredients:</label>
      <input type="text" id="ingredients" name="ingredients" /></p>
      <br>
      <p><label for="cook_time">Cook Time:</label>
      <input type="text" id="cook_time" name="cook_time" /></p>
      <br>

      <input type="submit" id ="submit" value="Create" />

    </form>
  </body>
</html>
