<!DOCTYPE html>
<html>
  <body>
    <h1>Enter your new recipe below:</h1>
    <form action="/recipes" method="post"> 
     <label for="name">Name: <input type="text" id="name" name="name"></label>
     <label for="ingredients">Ingredients: <input type="text" id="ingredients" name="ingredients"></label>
     <label for="cook_time">Cook time: <input type="text" id="cook_time" name="cook_time"></label>
      <input type="submit" id="submit" value="submit">
    </form>
  </body>
  
</html>



