<h1>Create Recipe</h1>
<form method="post" action="/recipes">
<h2>Name: <input type="text" id="name" name="name" </h2>
<h2>Ingredients: <input type="text" id="ingredients" name="ingredients"></h2>
<h2>Cook Time: <input type="text" id="cook_time" name="cook_time"></h2>
<button type="submit" id="submit">Create</button>
</form>