<form method="post" action="/recipes">
 
  <label for="title"> Recipe Title</label>
  
  <br> 
  <input type="text" id="name" name="name">

  <br><br><br>
  <label for="content"> Recipe Content</label>
  <br> 
  <input type="text" id="ingredients" name="ingredients">
  <br><br><br>
  <label for="cooktime"> Recipe Coooktime</label>
  <br> 
  <input type="integer" id="cook_time" name="cook_time">
  
  <input type="submit" value="submit this" id="submit">
</form>

