<form method="post" action="/recipes">
  <input type="text" input name="name">
  <input type="text" input name="ingredients">
  <input type="text" input name="cook_time">
  <input type="submit" value="submit">
  
  
</form>