<!DOCTYPE html>
<html>
<head>
<title>Create a new Recipe</title>
</head>
<body>
    <h2>Create a New Recipe!</h2>
    <form action="/recipes" method="post">
    <p>Name: <input type="text" id="name" name="name"><br>
    Ingredients: <input type="text" id="ingredients" name="ingredients"><br>
    Cook Time: <input type="text" id="cook_time" name="cook_time"><br></p>
    <input type="submit" value="Submit">
    </form>
</body>
</html>
    