<h2>Lets Make A Food!</h2>

<form method=POST action="/recipes">

<p><strong>Recipe Name:</strong> <input type="text" name="name" id="name"></p>
<p><strong>Ingredients:</strong> <input type="text" name="ingredients" id="ingredients"></p>
<p><strong>Cook Time:</strong> <input type="text" name="cook_time" id="cook_time"></p>
<p><input type="submit" name="submit" id="submit" value="Cook it!"></p>

</form>