<form method="post" action="/recipes">
  Name of dish: <input type="text" name="name">
  Ingrededients: <input type="text" name="ingredients">
  Cooktime: <input type="text" name="cook_time">
  <input type="submit" name="Submit">
</form>