<h1>Create a new Recipe:</h1>

<form method="post" action="/recipes">
    <p>Recipe Title: <input type="text" name="recipe[name]" id="name"></p>
    <p>Ingredients: <input type="text" name="recipe[ingredients]" id="ingredients"></p>
    <p>Cook Time: <input type="text" name="recipe[cook_time]" id="cook_time"></p>
    <input type="submit" id="submit">
</form>