<h1>GrandMa's New Recipe</h1>

<form action= '/recipes/new' method="post">
  Recipe Name: <input type="text" name="Recipe[name]">
  Recipe Ingredients: <input type="text" name="Recipe[ingredients]">
  Recipe Cook Time: <input type="text" name="Recipe[cook_time]">
  <input type="submit">
</form>