<h1>New Recipe</h1>

<form action="/recipes" method="POST">
  <label for="name">Recipe name: </label>
  <input type="text" name="name" id="name" />
  <label for="ingredients">Ingredients: </label>
  <input type="text" name="ingredients" id="ingredients" />
  <label for="time">Cook time: </label>
  <input type="text" name="cook_time" id="time" />
  <input type="submit" id="submit" />
</form>