<form method="post" action="/recipes">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value=""><br/>
    <label for="ingredients">Ingredients</label>
    <input type="text" id="ingredients" name="ingredients" value=""><br/>
    <label for="cook_time">Cook Time</label>
    <input type="text" id="cook_time" name="cook_time" value=""><br/>
    <input type="submit" value="Submit">
</form>