<form action="/recipes" method="post">

    <section>
    
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

    </section>

    <section>

        <label for="ingredients">Ingredients:</label>
        <input type="text" id="ingredients" name="ingredients">

    </section>
    
    <section>
    
        <label for="cook_time">Ingredients:</label>
        <input type="text" id="cook_time" name="cook_time">

    </section>
    <section>

        <input type="submit" value="Create Recipe">

    </section>

</form>