<h1>Create new Recipe: </h1>

  <form action='/recipes' method='POST'>
    <label>Recipe Name: <br><input type='text' name='name'></label><br>
    <br>
    <label>Ingredients: <br><input type='text' name='ingredients'></label><br>
    <br>
    <label>Cooking Time: <br><input type='text' name='cook_time'></label><br>
    <br><input type="submit">
  </form>
