<form action="/recipes" method= "POST">
    <ul>
      <li>
    <label for="name">Name:</label>
    <input type="text" id="name" name="recipe[name]" ><br>
      </li>
      <li>
    <label for="ingredients">Ingredients:</label>
    <input type="text" id="ingredients" name="recipe[ingredients]" ><br>
    </li>
    <li>
    <label for="cook_time">Cook Time:</label>
    <input type="text" id="cook_time" name="recipe[cook_time]" ><br>
    </li>
    </ul>
    <button type="submit" id="submit">SUBMIT</button>
</form>