<h1>Enter a New Recipe</h1>
<form method="POST" action="/recipes">
<label for="name">Name: <input type="text" name="name"></label><br>
<label for="ingredients">Ingredients: <input type="text" name="ingredients"></label><br>
<label for="cook_time">Cook Time: <input type="text" name="cook_time"></label><br>
<input type="submit" value="Submit">
</form>