<form action='/recipes' method='POST'>
  <label for="name">Name: </label>
  <input name="name" id="name">

  <label for="ingredients">Ingredients: </label>
  <input name="ingredients" id="ingredient">

  <label for="cook_time">Cook Time: </label>
  <input name="cook_time" id="cook_time">

  <input type="submit" value="submit">
</form>
