<h1>New Recipe:</h1>
<form action='/recipes' method = 'POST'>
    <p>Name: <input type="text" id="name" name="name"></p>
    <p>Ingredients: <input type="text" id = "ingredients" name="ingredients"></p>
    <p>Cooking Time: <input type="text" id = "cook_time" name="cook_time"></p>
    <p><input type="submit" id = "submit" value = "Submit">
</form>