<form method="POST" action="/recipes">
  <h1>Create a New Recipe</h1>
  <label for "recipe name">Recipe Name: </label>
  <input type="text" id="name" name="name"><br>

  <label for "recipe ingredients">Ingredients: </label>
  <input type="text" id="ingredients" name="ingredients"></br>

  <label for "recipe cook time">Cook Time: </label>
  <input type="text" id="cook_time" name="cook_time">
  <input type="submit" id="submit"></label>
</form>
