<h3>Your <%= @recipe.name %> Recipe!</h3>
<h4>Cook Time:<%= @recipe.cook_time %></h4>
<p>Ingredients: <%= @recipe.ingredients %></p>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
