
  Recipe Name: <%=@recipe.name%>
  Ingredients: <%=@recipe.ingredients%>
  Cooking Time: <%=@recipe.cooking_time%>
  
  <form action="/recipes/<%= @recipe.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
  </form>
