<h1><%= @recipe.name %></h1><br>
<h4>Ingredients: <%= @recipe.ingredients %></h4>
<h4>Recipe Cook Time: <%= @recipe.cook_time %> minutes</h4>

<form action="/recipes/<%= @recipe.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" id="delete" value="Delete">
</form>
