<h3><%= @recipe.name %></h3> <!-- recipe name -->
<p><%= @recipe.cook_time %></p> <!--recipe cook time -->
<p><%= @recipe.ingredients %></p><!-- recipe ingredients -->

<p><form method="post" action="/recipes/<%=@recipe.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="delete">
</form></p>