
	<h1><%= @recipe.name %></h1>
	<ul>
		<li><h2><%= @recipe.ingredients %></h2></li>
		<li><h3><%= @recipe.cook_time %></h3></li>
	</ul>

	<form action="/recipes/<%= @recipe.id %>" method='post'>
		<input id="hidden" type="hidden" name="_method" value="DELETE">
		<input type="submit" value='Delete' id="delete">
	</form>