<h1 id="recipe_name">Name:<%= @recipe.name %></h1>
<h3>ingredients:</h3>
<p id="recipe_ingredients"><%= @recipe.ingredients %></p>
<h3>Cook Time:</h3>
<p id="recipe_cook_time"><%= @recipe.cook_time %></p>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
