<section>
<%= @recipe.name %>
<%= @recipe.ingredients %>
<%= @recipe.cook_time %>
</section>

<form action="/recipes/<%= @recipe.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type='submit' value="delete">
</form>
