  
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Recipe</title> 
  </head>
  <body id="page-top">
      <h1>Name: <%= @recipe.name %></h1>
      <h3>Ingredients: <%= @recipe.ingredients %></h3>
      <h3>Cook Time: <%= @recipe.cook_time %></h3>

      <form method="post" action="/recipes/<%= @recipe.id %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
    </form>      
  </body>
</html>


