Name: <%= @recipe.name %>
<br>
Ingredients: <%= @recipe.ingredients %>
<br>
Cook Time: <%= @recipe.cook_time %>
<br>

<form action="/recipes/<%=@recipe.id%>" method="POST">
    <input type="hidden" name="_method" id="hidden" value="DELETE">
    <input type="submit" value="delete">
</form>