
<p> <%= @recipe.name %> </p>
<p> <%= @recipe.ingredients %> </p>
<p> <%= @recipe.cook_time %> </p>


<form action="/recipes/<%=@recipe.id%>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" id="delete" value="Delete Article?">
</form>
