Name: <%= @recipe.name %>
Ingredients: <%= @recipe.ingredients %>
Cook Time: <%= @recipe.cook_time %>

<form action="/recipes/<%=@recipe.id%>" method="POST">
    <input type="hidden" name="_method" id="hidden" value="DELETE">
    <input type="submit" value="delete">
</form>