<h1>Your recipe</h1>
<h3>Name: <%= @recipe.name %></h3>
<h4>Ingredients: <%= @recipe.ingredients %></h4>
<h4>Cook Time: <%= @recipe.cook_time %> minutes</h4>

<form action="/recipes/<%=@recipe.id%>" method='post'>
<input type='hidden' id='hidden' name='_method' value='delete'>
<input type='submit' value='delete'>
</form>
