<h1>Name: <%= @recipe.name %></h1><br>
<h2>Ingredients: <%= @recipe.ingredients %></h2><br>
<h2>Cook Time: <%= @recipe.cook_time %></h2><br>

<form action='/recipes/<%= @recipe.id %>' method='post'>
    <input type='hidden' id='hidden' name='_method' value='delete'>
    <input type='submit' value='delete'>
</form>