<body>
<h3><%= @recipe.name %></h3>
Cook time: <%= @recipe.cook_time %><br>
Ingredients needed: <%= @recipe.ingredients %>


<form action="/recipes/<%=@recipe.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>

</body>