<h1>Show Single Recipe Page</h1>

<h2><%= @recipe.name %></h2>

<h4>Ingredients</h4>
<p><%= @recipe.ingredients %></p>

<h4>Cooking Time</h4>
<p><%= @recipe.cook_time %></p>

<form method="post" action="/recipes/<%= @recipe.id %>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" id="submit" value="delete">
</form>
