<!DOCTYPE html>
<html>
  <head>
    <title>Input Your Recipes!</title>
  </head>
  <body>

    <form action="/recipes/<%= @recipe.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
    </form>


  </body>
</html>