<h1>Recipe Name: <%= @recipe.name %></h1>
<li> Cook Time: <%= @recipe.cook_time %></li>
<p> Ingredients: <%= @recipe.ingredients %></p>

<form action="/recipes/<%=@recipe.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
