<h1>Grandma's Recipes</h1>

<a> <%= @recipe.name %> </a>
 <h1><%=@recipe.ingredients%></h1>
 <h1><%=@recipe.cook_time.floor%> minutes</h1>


<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>