<h1> Welcome to your Recipe App!</h1>

<a href="/recipes/new"><h3>Make a New Recipe:</h3></a>

<form method="get" action="/recipes/:id">
  <h3>Get a recipe by its id:</h3><input name="recipe_id" type="text" />
  <input type="submit" value="Submit" />
</form>


<a href="/index"><h3>Show me all the recipes!</h3></a>
